<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  {{!--
  <link rel="stylesheet" href="/stylesheets/bootstrap/"> --}}
  <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.min.css' />
</head>

<body>

  {{> header}}

 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <div class="container">
    {{{body}}}
  </div>

  <script></script>
 
</body>

</html>