<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Add a Page</h2>
<a href="/admin/categories" class="btn btn-primary">Back to all categories</a>
<br><br>


<form action="/admin/categories/add-category" method="post">

    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title"  placeholder="title">
    </div>

    <input type="submit">

</form>

<%- include('../_layouts/adminfooter')%>